@font-face {
    font-family: "Kiona-Regular";
    src: url("Kiona-Regular.ttf") format("truetype");      
   }
body
{
	margin:auto;
    display:flex;
    background-color:white;
    border:1px solid black;
}
header
{
    justify-content:left;
}
header h2, header, footer p, footer h3
{
    margin-top:5%;
}
footer
{
 font-size:0.9em;
 background-color:#FDD835;
 text-align:left;
}
footer img
{
    display:flex;
    align-self:center;
    box-shadow: 0px 0px 0px 3px rgba(172, 172, 172, 0.3);
    border-radius:500px;
    width:50%;
    margin-top:20%;
    margin-bottom:15%;
}

footer h3
{
    margin-bottom:5%;
    font-size:1.5em;
	background:#494749;
	text-align:red;
	color:#F5BE00;
}
footer p
{
    font-size:0.9em;
    margin-right:5%;
    margin-left:5%;
}
.flexaround
{
    display:flex;
    justify-content:space-around;
}
footer article
{
    flex-flow:column wrap;
}
.loisir
{
    font-size:2em;
}
.myself2
{
    flex:1;
    justify-content:flex-start;
}
a
{
    outline: none;
    text-decoration: none;
}
address, a
{
   font-style:normal; 
   color:black;

}
main h3
{
    text-align:left;
    border-bottom:solid #FFA726 2px;
}
main 
{
    background-color:white;
    width:70%;
}
.chapitre header
{
    margin-bottom:10px;
}
.rec-perso
{
    display:flex;
    justify-content:space-around;
}

.chapitre h3, .chapitre2 h3, .marge, .para
{
    margin-right:10%;
}
.date, header
{
    margin-left:10%;
}
.chapitre h4, .chapitre2 h4, h1, header
{
    margin-bottom:0%;
}
.chapitre, .chapitre2 article, header, footer, main
{
    display:flex;
    flex-direction:column;
}
.chapitre article
{
    display:flex;
    justify-content:space-between;
}
.width, footer, body
{
    width:40%;
}
h1
{
    font-size:1.6em;
}
.fontfamily, h1, strong, footer h3
{
    font-family: "Kiona-Regular.ttf", "comic sans ms", serif ;
}
strong, .fa-book, .fa-book-open, .fa-user-graduate, .fa-scroll, .fa-percentage
{
    color:#FFA726;
}
.dev
{
    position:relative;
}
.line
{
    display:block;
    background:#FFA726;
    position:absolute;
    width: 63px;
    height:2px;
    bottom:0;
    left:0;
}
.fa-book, .fa-book-open
{
    margin-right:10px;
}

.fa-user-graduate, .fa-scroll, .fa-percentage
{
    margin-right:5%;
    margin-bottom:10px;
    font-size:1.5EM;
}

.fa-skating, .fa-tools, .fa-steam
{  
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.fa-padding-2
{  
    padding:2px;
}
.fa-padding-4
{  
    padding:4px;
}
@media all and (max-width: 1000px)
{
    body
    {
        margin:auto;
        width:90%;
        display:flex;
        flex-direction:column;
        background-color:red;
        border:1px solid black;
    }
    footer
    {
        width:100%;
        font-size:0.9em;
        background-color:#FDD835;
        text-align:center;
        order:3;
    }
    footer h3
    {
        margin-bottom:5%;
        font-size:1.2em;
        background:#494749;
        text-align:center;
        color:#F5BE00;
    }
    footer img
{
    display:flex;
    align-self:center;
    box-shadow: 0px 0px 0px 3px rgba(172, 172, 172, 0.3);
    border-radius:500px;
    width:75%;
    margin-top:20%;
    margin-bottom:15%;
}
    footer p
    {
        font-size:0.9em;
        margin-right:5%;
        margin-left:5%;
    }
    .flexaround
    {
        display:flex;
        justify-content:space-around;
    }
    footer article
    {
        flex-flow:column wrap;
    }
    .loisir
    {
        font-size:2em;
    }
    .myself2
    {
        flex:1;
        justify-content:flex-start;
    }
    main h3
    {
        font-size:1.0em;
        text-align:center;
        border-bottom:solid #FFA726 2px;
    }
    main 
    {
        background-color:white;
        width:100%;
    }
    .chapitre header
    {
        margin-bottom:10px;
    }
    .chapitre h3, .chapitre2 h3, .marge
    {
        margin-right:10%;
    }
    .date,
    {
        margin-left:10%;
    }
    .chapitre h4, .chapitre2 h4, h1, header
    {
        margin-bottom:0%;
    }
    .chapitre, .chapitre2 article, header, footer, main, .rec-perso
    {
        display:flex;
        flex-direction:column;
    }
    .rec-perso
    {
        align-items:center;
    }
    .chapitre article
    {
        display:flex;
        justify-content:space-between;
    }
    .width
    {
        width:50%;
    }
    /*header
    {
        justify-content:center;tralala
    }*/
    h1
    {
        font-size:1.3em;
        text-align:center;
    }
    h2 
    {
        font-size:1.2em;
        text-align:center;
    }
    .date, .para
    {
        font-size:0.9em;
    }
    .fontfamily, h1, strong, footer h3
    {
        font-family: "Kiona-Regular.ttf", "comic sans ms", serif ;
    }
    strong, .fa-book, .fa-book-open, .fa-user-graduate, .fa-scroll, .fa-percentage
    {
        color:#FFA726;
    }
    .dev
    {
        position:relative;
    }
    .line
    {
        display:block;
        background:#FFA726;
        position:absolute;
        width: 63px;
        height:2px;
        bottom:0;
        left:0;
    }
    .fa-book, .fa-book-open
    {
        margin-right:10px;
    }
    
    .fa-user-graduate, .fa-scroll, .fa-percentage
    {
        margin-right:5%;
        margin-bottom:10px;
        font-size:1.5EM;
    }
    
    .fa-skating, .fa-tools, .fa-steam
    {  
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
    .fa-padding-2
    {  
        padding:2px;
    }
    .fa-padding-4
    {  
        padding:4px;
    }

}