@font-face {
    font-family: "Kiona-Regular";
    src: url("Kiona-Regular.ttf") format("truetype");      
   }
body
{
	width:40%;
	margin:auto;
    display:flex;
    background-color:white;
    border:1px solid black;
}
header
{
    display:flex;
    flex-direction:column;
    margin-top:5%;
    margin-bottom:0%;
    margin-left:10%;
    justify-content:left;
}
header h2
{
    margin-top:5px
}
aside
{
 font-size:0.9em;
 width:40%;
 background-color:#FDD835;
 display:flex;
 flex-direction: column;

 text-align:left;
}
aside img
{
    display:flex;
    align-self:center;
    box-shadow: 0px 0px 0px 3px rgba(172, 172, 172, 0.3);
    border-radius:500px;
    width:50%;
    margin-top:40px;
    margin-bottom:40px;
}
aside h3
{
    margin-top:5%;
    margin-bottom:5%;
    font-size:1.5em;
	background:#494749;
	text-align:center;
	color:#F5BE00;
	font-family: Kiona-Regular.ttf, "comic sans ms", serif ;
}
aside p
{
    font-size:0.9em;
    margin-right:5%;
    margin-left:5%;
    margin-top:5px;
}
.myself2
{
    flex:1;
    justify-content:flex-start;
}
address
{
   font-style:normal; 

}
aside article
{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
}

.loisir
{
    display:flex;
    justify-content:space-around;
    margin-top:5%;
    font-size:2em;  
}
main h3
{
    text-align:left;
    border-bottom:solid #FFA726 2px;
}
main 
{
    background-color:white;
    width:70%;
    display:flex;
    flex-direction:column;
}

.base header
{
    margin-bottom:10px;
}
.base h3, .base2 h3
{
    margin-right:10%;
}
.base h4, .base2 h4
{
    margin-bottom:0%;
}
.base
{
    display:flex;
    flex-direction:column;
}
.base article
{
    display:flex;
    justify-content:space-between;
}
.date
{
    width:40%;
    margin-left:10%;
}
.mep
{
    width:40%;
    margin-right:10%;
    display:flex;
    flex-direction:column;
}

.base2 article
{
    display: flex;
    flex-flow: column;
}
.rec
{
    display:flex;
    justify-content:space-around;
}
h1
{
    font-family: "Kiona-Regular.ttf", "comic sans ms", serif ;
    font-size:1.6em;
    margin-bottom:0%;
}
strong
{
    color:#FFA726;
    font-family: test, "comic sans ms", serif ;
}
.dev
{
    position:relative;
}
.line
{
    display:block;
    background:#FFA726;
    position:absolute;
    width: 63px;
    height:2px;
    bottom:0;
    left:0;
}
.fa-book, .fa-book-open
{
    color:#FFA726;
    margin-right:10px;
}

.fa-user-graduate, .fa-scroll, .fa-percentage
{
    color:#FFA726;
    margin-right:20px;
    margin-bottom:10px;
    font-size:1.5EM;
}

.fa-skating, .fa-tools, .fa-steam
{  
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}
.fa-padding-2
{  
    padding:2px;
}
.fa-padding-4
{  
    padding:4px;
}
@media all and (max-device-width: 900px)
{
    header
{
    display:flex;
    flex-direction:column;
    margin-top:5%;
    margin-bottom:0%;
    justify-content:left;
}
    body
    {
        width:90%;
        margin:auto;
        font-size:0.8em;
        background-color: red;
    }
    address
    {
        font-size:0.8em;
    }
    aside
    {
        width:40%;
        font-size:0.8em;
    }
    h3 
    {
        font-size:0.9em;
    }

    aside h3
{
    margin-top:5%;
    margin-bottom:5%;
    font-size:1.1em;
	background:#494749;
	text-align:center;
	color:#F5BE00;
	font-family: "Kiona-Regular.ttf", "comic sans ms", serif ;
}
    main
    {
        width:60%;
    }
    .base article
    {
        display:flex;
        flex-direction:column;
    }
    .date
    {
        width:100%;
        margin-left:10%;
    }
    .base h3 .base2 h4
    {
        font-size:0.8em;
    }
    .mep
    {
        width:60%;
        margin-left:10%;
        margin-right:0%;
    }
    .rec
    {
        display:flex;
        flex-direction:column;
        margin-left:10%;
    }
    .loisir2
{
    display:flex;
    justify-content:space-around;
    margin-top:5%;
    font-size:1.5em;  
}
}